{:kotoba.app/id "cloud.itonami.isic-4540", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidv3mcqn7xo6pofjf7tunepehgbaqrs4uyygp7wp7rhfolbugk3c4", :kotoba.app/embed-url "ipfs://bafkreidv3mcqn7xo6pofjf7tunepehgbaqrs4uyygp7wp7rhfolbugk3c4", :published {:archive "https://kotobase.net/ipfs/bafkreidv3mcqn7xo6pofjf7tunepehgbaqrs4uyygp7wp7rhfolbugk3c4", :size 72682, :put-status 201, :get-status 200, :at "2026-08-15T13:44:38.474Z"}}
